@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
.navbar-resp {
  display: none;
}
.rightnav1 {
  display: none;
}
.float-image1{
  display: none;
}
.navbar1 {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 110, 57, 0.3);
  position: sticky;
  top: 0;
  background: white;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  z-index: 2;
}
/* .navbar{
  display: flex;
  align-items: center;
} */
.navbar{
  position: sticky;
  top: 0;
  z-index: 2;
}
.container {
  display: flex;
  justify-content: center;

  width: 100%;
}
.container-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.container-footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 86, 25);
}
.p1,
.p2,
.p3 {
  display: flex;
  flex-direction: row;
}
.nav-items-resp {
  font-family: "Roboto", sans-serif;

  text-decoration: none;
  color: white;
}
.nav-items a {
  text-decoration: none;
  color: grey;
}
.nav-items a:hover {
  color: orangered;
  cursor: pointer;
}
.leftnav {
  font-weight: bolder;
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.rightnav {
  display: flex;
  justify-content: center;
}
.btn1 {
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: orangered;
  font-size: 1em;
  border-radius: 10px;
}
.btn2 {
  cursor: pointer;
  border: 2px solid orangered;
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: rgb(255, 110, 57);
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
}
.btn1:hover {
  border: 2px solid rgb(255, 110, 57);
}
.btn2:hover {
  border: 2px solid white;
  background: rgb(255, 110, 57);
  color: white;
}
.searchBox {
  display: flex;
  align-items: center;
}
.searchInput {
  padding-left: 20px;
  height: 30px;
  width: 150px;
  visibility: hidden;
  border-radius: 10px;
  border: 2px solid rgb(255, 110, 57);
}
.searchBox:hover > .searchInput {
  visibility: visible;
}
.searchInput::placeholder {
  color: rgb(255, 110, 57);
}
.searchButton {
  align-content: center;
  background: transparent;
  color: rgb(255, 110, 57);
  border: none;
}
.image2 {
  height: auto;
  width: 65%;
  border-radius: 25%;
  margin-top: 15%;
}
.float-image {
  position: absolute;
  top: 150px;
  right: 500px;
  height: 250px;
  width: 280px;
}
.content {
  margin-top: 50px;
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.menu {
  cursor: pointer;
  border: 1px solid rgb(255, 110, 57);
  background-color: orangered;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  width: 250px;
  height: 60px;
  margin-top: 30px;
}
.menu:hover {
  color: orangered;
  border: 2px solid orangered;
  background-color: white;
}
.text h1 {
  font-size: 90px;
  line-height: 90%;
}
.text h4 {
  font-family: "Roboto", sans-serif;
  color: grey;
  margin-top: 30px;
  letter-spacing: 1px;
}

.text {
  /* margin-top: 80px;
  margin-left: 7%; */
  width: 40%;
}
.text2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.good {
  color: orangered;
}
.text h3 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: orangered;
}
.text2 h5 {
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 21000;
}
.text3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p2 {
  font-size: 90px;
  line-height: 90%;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.p1 {
  margin-top: 150px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.p3 {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 30px;
}
.card {
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.c1,
.c2,
.c3 {
  height: 320px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 25px; */
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 10px;
  border: 2px solid white;
  letter-spacing: 1px;
}
.c1:hover,
.c2:hover,
.c3:hover {
  border: 2px solid rgb(255, 110, 57);
  transition: 0.3s;
}
.c1 div,
.c3 div {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.c2 div {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.c1 img,
.c3 img {
  height: 100px;
  width: 100px;
}
.c2 img {
  height: 80px;
  width: 80px;
}
.checked {
  color: orangered;
  display: flex;
  align-items: center;
}
.fa {
  margin-top: 20px;
  flex-direction: row;
}
.card2 {
  /* margin-top: 80px; */
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: space-around;
}
.item {
  /* height: 500px; */
  background-color: transparent !important;
}
.owl-stage-outer {
  margin-top: 80px;
  z-index: -1;
}
.row {
  overflow: hidden;
  z-index: -1;
  /* width: 90%; */
  padding-left: 10px;
}
.owl-nav {
  display: none;
  margin-top: 50px;
}
.owl-dots {
  margin-top: 50px;
}

.owl-item {
  background-color: transparent !important;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: orangered;
  display: flex;
  align-items: center;
  border: 1px solid white;
}
.circle img {
  width: 400px;
  height: 150px;
  position: relative;
  right: 40%;
}
.line {
  margin-top: 5px;
  width: 100%;
  background: orangered;
  height: 4px;
  opacity: 0.2;
  border-radius: 1px;
  border: 1px solid orangered;
}
.c21 {
  border: 2px solid white;
  background-color: rgba(255, 110, 57, 0.1);

  display: flex;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  height: 500px;
  width: 350px;
}
.p4 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.p5 {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.button-card {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid orangered;
  background: orangered;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button-card:hover {
  cursor: pointer;
  opacity: 0.8;
}
.button-card div {
  color: white;
}
.lefthalf {
  box-sizing: border-box;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
  /* margin: 40px ; */
  width: 45%;
  height: 480px;
  background: url(images/pizzabg.jpg);
  background-size: cover;
}
.lefthalf1 {
  box-sizing: border-box;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
  /* margin: 40px ; */
  width: 45%;
  height: 480px;
  background: url(images/p1.jpg);
  background-size: cover;
}
.lefthalf2 {
  box-sizing: border-box;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  color: white;
  /* margin: 40px ; */
  width: 45%;
  height: 480px;
  background: url(images/p2.jpg);
  background-size: cover;
}
.half {
  /* margin-left: 50px; */
  /* margin-top: 40px; */
  display: flex;
  /* width: 90%; */
  flex-direction: row;
}
.righthalf {
  padding-left: 30px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lefthalf-text {
  width: 50%;
  float: right;
}
.p6 {
  font-size: 30px;
  font-weight: bold;
}
.p7 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bolder;
}
.p8 {
  margin-top: 20px;
  font-style: italic;
  display: flex;
  font-weight: bolder;
  align-items: center;
  flex-direction: row;
  font-size: 50px;
}
.p8 div {
  font-size: 40px;
}
.p9 {
  font-size: 18px;
  line-height: 24px;
}
.p11 {
  font-size: 50px;
  font-weight: bold;
}
.p12 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.btn-pizza {
  color: white;
  font-weight: bolder;
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 5px;
  margin-top: 60px;
  width: 150px;
  height: 40px;
}
.btn-pizza:hover {
  color: orangered;
  background-color: white;
  border: 2px solid orangered;
}

.spicy img {
  /* margin-top: 40px; */
  display: block;
  height: 120px;
  width: 120px;
}
.spicy {
  display: flex;

  flex-direction: row;
  align-items: center;
}
.flex-content {
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
}
.spicy-button {
  margin: 0px 20px;
  border: none;
  background: rgb(154, 154, 154);
  opacity: 0.5;
  border-radius: 5px;
  width: 200px;
  height: 2px;
}
.f1 {
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  align-items: center;
}
.f2 {
  margin: 10px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
}
.price {
  display: flex;
  width: 40px;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: orangered;
  font-weight: bolder;
}
.price div {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: orangered;
  font-weight: bolder;
  font-style: italic;
}
.card3 {
  width: 90%;
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.c31 {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
  height: 25rem;
  display: inline-block;
  border: 0.5px solid rgb(239, 238, 238);
  /* margin: 20px; */
  
  width: 20rem;
}
.c31:hover{
  transition: 1.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.profile img {
  height: 70px;
  width: 70px;
}
.profile-name {
  margin-left: 10px;
}
.name1 {
  font-size: 20px;
}
.name2 {
  font-family: "Roboto", sans-serif;
}
.name3 {
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 25px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}

.input-mail {
  display: flex;
  margin-top: 50px;
}

.email {
  border-radius: 10px;
  border: 1px solid white;
  width: 270px;
  padding: 10px;
  outline: none;
}
/* .email:active{
  border: 1px solid white;
} */

.input {
  height: 60px;
  width: 150px;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.input:hover {
  opacity: 0.7;
}
.input img {
  height: 40px;
  width: 40px;
}

.pre-footer {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}
.halfleft {
  text-align: left;
  padding: 50px;
  margin-left: 200px;
  margin-right: 50px;

  width: 60%;
}
.halfright {
  width: 40%;
  margin-top: 80px;
  padding: 20px;
}
.halfright div {
  font-size: 40px;
  font-weight: bold;
}
.btn-order {
  color: white;
  font-weight: bolder;
  background-color: orangered;
  border: 2px solid orangered;
  border-radius: 8px;
  margin-top: 20px;
  width: 150px;
  height: 60px;
}
.btn-order:hover {
  color: orangered;
  background-color: white;
}
.maill {
  display: flex;
  justify-content: space-evenly;
}
.mail {
  margin-top: 20px;
  height: 20px;
  width: 20px;
}
.logoo {
  margin-top: 40px;
}
.support {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  color: white;
}
.footer {
  width: 90%;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 86, 25);
}
.F2 {
  font-family: "Roboto", sans-serif;
  list-style: none;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.F2 img {
  height: 20px;
  width: 20px;
}
.lowest {
  width: 100%;
  text-align: center;
  /* padding: 20px; */
  font-size: 17px;
  color: white;
  background-color: rgb(255, 86, 25);
  font-family: "Roboto", sans-serif;
}
.lowest img {
  height: 15px;
  width: 15px;
}
.slider-button1 img,
.slider-button2 img {
  height: 40px;
  width: 50px;
}
.slider-button1 {
  padding-left: 100px;
  border: solid white;
  background-color: white;
}
.slider-button1:hover {
  opacity: 0.5;
}
.slider-button2 {
  float: right;
  padding-right: 200px;
  border: solid white;
  background-color: white;
}
.slider-button2:hover {
  opacity: 0.5;
}
.slider-button3 img,
.slider-button4 img {
  height: 40px;
  width: 40px;
}
.slider-button3 {
  margin: 0px 10px;
  border: none;
  background: transparent;
  float: right;
}
.slider-button3:hover {
  opacity: 0.5;
}
.slider-button4 {
  margin: 0px 10px;
  float: right;
  border: none;
  background: transparent;
  margin-right: 90px;
}
.slider-button4:hover {
  opacity: 0.5;
}
.slider-direction {
  margin-top: 70px;
}
.slider-direction2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
  padding-bottom: 20px;

  margin-top: 70px;
}

/* sliders CSS */

.carousel {
  position: relative;

  height: 100vh;
}
ul.slides {
  list-style-type: none;
  height: 100%;
  width: 100%;
}
ul.slides {
  list-style-type: none;
  height: 100%;
  width: 100%;
}
li.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}
li.slide[data-active-slide] {
  opacity: 1;
}

.slides-circles {
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.slides-circles > div {
  height: 10px;
  width: 10px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid rgb(161, 161, 161);
  transition: background-color 0.5s;
  transition-delay: 0.5s;
}

.slides-circles > div[data-active-slide] {
  background-color: orangered;
}

.one,
.two,
.three {
  background-color: rgb(193, 193, 193);
  border: none;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  width: 90%;
}
.lefthalf-text {
  float: left;
}

.slider-button4 {
  margin-right: 0;
}

.email {
  width: auto;
}

.p11 {
  font-size: 40px;
}
.p12 {
  font-size: 15px;
}

.a {
  display: flex;
  align-items: center;
}
.prev {
  display: flex;
  width: 50%;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin-top: 20px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
} */
.textt {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.content {
  justify-content: space-between;
}
.searchBox {

  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .spicy-button {
    display: none;
  }
  .pre-footer {
    /* flex-direction: column; */
  }
  .lowest{
    padding: 15px;
  }
  .navbar1 {
    padding: 10px 10px;
  }
  .float-image {
    display: none;
  }
  .float-image1{
    display: block;
    position: absolute;
    right: 50px;
    height: 200px;
    top: 500px;
  }
  .image img {
    height: 40px;
  }
  .image2 {
    width: 35%;
    height: 200px;
  }
  .halfleft {
    margin-left: 0;
    margin-right: 0;
  }
  .footer {
    width: 100%;
  }
  .rightnav1{
    align-items: center;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
  }
  .slider-direction2 {
    display: flex;
    justify-content: center;
    padding-right: 0;
    padding-bottom: 0;
  
    margin-top: 40px;
  }
  .navbar1 {
    display: none;
  }
  .navbar-resp {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1050px;
    width: 100%;
    margin: auto;
  }
  .container-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .prev,
  .next {
    width: 100%;
  }
  .circle img {
    width: 400px;
    height: 150px;

    position: relative;
    right: 0%;
  }
  .slider-button1 {
    padding-left: 0;
  }
  .slider-button2 {
    padding-right: 0;
  }
  .navbar {
    width: 100%;
    /* box-shadow: 0 1px 4px rgb(146 161 176 / 15%); */
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    height: 60px;
    background-color: white;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    background: black;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .c31 {
    width: 75%;
    height: auto;
  }
  .input-mail {
    align-items: center;
    flex-direction: column;
  }
  .float-image {
    display: none;
  }
  .btn-menu {
    display: flex;
    justify-content: center;
  }
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 2000px rgba(255, 86, 25, 0.9);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .searchInput{
    visibility: visible;
  }

  .logo {
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    /* color: #0e2431; */
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
  .btn,.btn1,.btn2{
    display: none;
  }
  .searchButton{
    padding-left: 10px;
  }
.p2 {
  font-size: 70px;
}
.text h1 {
  font-size: 70px;
}
.card {
  width: 100%;
  justify-content: space-between;
}
.row {
  padding-left: 15px;
}
.a {
  padding-left: 15px;
  padding-right: 15px;
}
.mySlides {
  width: 100%;
}
.searchBox {
  padding-top: 15px;

  justify-content: center;
}
.lefthalf,
.lefthalf1,
.lefthalf2 {
  height: auto;
}
.card3 {
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}}

@media only screen and (max-width: 450px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar1 {
    display: none;
  }
  .navbar-resp {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
  }
  .lowest{
    padding: 20px;
  }
  .image img {
    height: 40px;
  }
  .searchInput{
    width: 100px;

    visibility: visible;
  }
  .btn,.btn1,.btn2{
    display: none;
  }
  .slider-direction2 {
    display: flex;
    justify-content: center;
    padding-right: 0;
    padding-bottom: 0;
  
    margin-top: 40px;
  }
  .rightnav1 {
    flex-direction: column;
    display: flex;
    margin-top: 10px;
  }
  
  .searchBox {
    padding-top: 15px;

    justify-content: center;
  }
  /* body {
    font-family: "Poppins", sans-serif;
  } */
  .content {
    flex-direction: column;
  }
  .text {
    width: 100%;
  }
  .text h1 {
    font-size: 50px;
  }
  .image2 {
    width: 100%;
  }
  .btn {
    height: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn1 {
    height: 40px;
    width: 50%;
  }
  .btn2 {
    height: 40px;
    width: 50%;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .c1,
  .c2,
  .c3 {
    width: auto;
  }
  .half {
    flex-direction: column;
  }
  .lefthalf {
    height: auto;
    width: 100%;
  }
  .lefthalf1 {
    width: 100%;
  }
  .lefthalf2 {
    width: 100%;
  }
  .righthalf {
    padding-left: 0;
    margin-top: 10px;
    width: 100%;
  }
  .p6 {
    font-size: 20px;
  }
  .flex-content {
    margin-top: 20px;
    width: 60%;
  }
  .card3 {
    gap: 5px;
    align-items: center;
    flex-direction: column;
  }
  .pre-footer {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .halfleft {
    padding: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .halfright {
    width: 100%;

    margin-top: 0;

    text-align: center;
  }
  .menu {
    width: 200px;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .p12 {
    margin-top: 10px;
  }
  .p2 {
    font-size: 50px;
  }
  .p3 {
    font-size: 15px;
  }
  .spicy-button {
    display: none;
  }
  .p1,
  .p2,
  .p3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1050px;
    width: 100%;
    margin: auto;
  }
  .container-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .prev,
  .next {
    width: 100%;
  }
  .circle img {
    width: 400px;
    height: 150px;

    position: relative;
    right: 0%;
  }
  .slider-button1 {
    padding-left: 0;
  }
  .slider-button2 {
    padding-right: 0;
  }
  .navbar {
    width: 100%;
    /* box-shadow: 0 1px 4px rgb(146 161 176 / 15%); */
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    background: black;
  }
.float-image1{display: none;}
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .c31 {
    width: auto;
    height: auto;
  }
  .input-mail {
    align-items: center;
    flex-direction: column;
  }
  .float-image {
    display: none;
  }
  .btn-menu {
    display: flex;
    justify-content: center;
  }
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 2000px rgba(255, 86, 25, 0.9);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .logo {
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    /* color: #0e2431; */
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
